
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head"></head>
<body>

<div th:include="common/header::header"></div>

<div class="layui-container fly-marginTop fly-user-main">

  <div th:replace="common/user-nav"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="mine-jie" lay-id="index" class="layui-this">我发的帖（<span th:text="${count}"></span>）</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <ul class="mine-view jie-row">
            <li th:each="posts:${postsList}">
              <a class="jie-title" th:href="@{'/jie/detail?id=' + ${posts.id}}" target="_blank" th:text="${posts.title}"></a>
              <i th:text="${#dates.format(posts.publishTime, 'yyyy-MM-dd hh:mm:ss')}"></i>
              <!--<a class="mine-edit" href="/jie/edit/8116">编辑</a>-->
                <i th:if="${posts.score > 0}" style="color: red;margin-left: 10px" th:text="${#strings.append('评分',posts.score)}"></i>
                <em th:text="${#strings.append('评论',posts.readCount)}"></em>
            </li>
          </ul>
            <div style="text-align: center">
                <div id="LAY_page"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:include="common/footer::footer"></div>

<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
  layui.cache.page = 'user';
  layui.cache.user = {
      username: [[${user==null?'游客':user.username}]]
      ,id: [[${user==null?-1:user.id}]]
  };
  layui.config({
    version: "3.0.0"
    ,base: '/mods/'
  }).extend({
    fly: 'index'
  }).use('fly');

  layui.use('laypage', function(){
      var laypage = layui.laypage;
      //执行一个laypage实例
      laypage.render({
          elem: 'LAY_page'
          ,count: [[${count}]]
          ,curr: [[${pageNo}]]
          ,limit: [[${pageSize}]]
          ,first: '首页'
          ,last: '尾页'
          ,prev: '<em>上一页</em>'
          ,next: '<em>下一页</em>'
          ,jump: function (obj, first) {
              //得到了当前页，用于向服务端请求对应数据
              if (!first) {
                  location.href = '/user/index?pageNo=' + obj.curr;
              }
          }
      });
  });
</script>

</body>
</html>