
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head"></head>
<body>

<div th:include="common/header::header"></div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a th:href="@{/user/loginPage}">登入</a></li>
        <li class="layui-this">注册</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" th:action="@{/user/register}">
              <div class="layui-form-item"><span th:text="${msg}" style="color: red;"></span></div>
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required lay-verify="email" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">将会成为您唯一的登入名</div>
              </div>
              <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_username" name="username" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repassword" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入后面内容" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <img th:src="@{/captcha/code}" id="validateCode" title="看不清点击刷新" onclick="document.getElementById('validateCode').src= '/captcha/code?' + new Date().getTime();"/>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" alert="1" lay-filter="*" lay-submit>立即注册</button>
              </div>
              <div class="layui-form-item fly-form-app">
                <span>或者直接使用社交账号快捷注册</span>
                <a href="" onclick="layer.msg('正在通过微信登入', {icon:16, shade: 0.1, time:0})" class="layui-icon layui-icon-login-wechat" title="微信登入"></a>
                  <div id="login_container"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:include="common/footer::footer"></div>
<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.cache.page = 'user';
    layui.cache.user = {
        username: [[${user==null?'游客':user.username}]]
        ,id: [[${user==null?-1:user.id}]]
    };
    layui.config({
      version: "3.0.0"
      ,base: '/mods/'
    }).extend({
      fly: 'index'
    }).use('fly');

    var obj = new WxLogin({
        self_redirect:true,
        id:"login_container",
        appid: "wxf390f1fdfc05505d",
        scope: "snsapi_login",
        redirect_uri: "http://www.chzy.org.cn/",
        state: "abc",
        style: "black",
        href: ""
    });
</script>

</body>
</html>