<div th:fragment="ad" xmlns:th="http://www.thymeleaf.org">
    <div class="fly-panel">
        <div class="fly-panel-title">
            广告区域
        </div>
        <div class="fly-panel-main">
            <a href="http://www.chzy.org.cn/" target="_blank" class="fly-zanzhu fly-zanzhu-img" time-limit="2017.09.25-2019.01.01" style="background:none;">
                <img style="max-width: 100%" th:src="@{/images/other/chzy.jpg}">
            </a>
            <a href="" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2019.01.01" style="background-color: #5FB878;">虚位以待</a>
        </div>
    </div>
</div>