  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user" xmlns:th="http://www.thymeleaf.org">
    <li class="layui-nav-item">
      <a th:href="@{/user/home}">
        <i class="layui-icon">&#xe68e;</i>
        我的主页
      </a>
    </li>
      <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;"><i class="layui-icon">&#xe612;</i>用户中心</a>
          <dl class="layui-nav-child">
              <dd><a th:href="@{/user/set}" th:class="${nav=='set'?'layui-this':''}">基本设置</a></dd>
              <dd><a th:href="@{/user/index}" th:class="${nav=='index'?'layui-this':''}">我的发帖</a></dd>
              <dd><a th:href="@{/user/collection}" th:class="${nav=='collection'?'layui-this':''}">我的收藏</a></dd>
              <dd><a th:href="@{/user/message}" th:class="${nav=='message'?'layui-this':''}">我的消息</a></dd>
          </dl>
      </li>
      <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;"><i class="layui-icon">&#xe620;</i>系统设置</a>
          <dl class="layui-nav-child">
              <dd><a th:href="@{/sys/user}" th:class="${nav=='sysuser'?'layui-this':''}">用户管理</a></dd>
              <dd><a th:href="@{/sys/school}" th:class="${nav=='sysschool'?'layui-this':''}">学校管理</a></dd>
          </dl>
      </li>
      <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;"><i class="layui-icon">&#xe611;</i>我的审批</a>
          <dl class="layui-nav-child">
              <dd><a th:href="@{/approve/diary}" th:class="${nav=='approve'?'layui-this':''}">日志审批</a></dd>
          </dl>
      </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade">
  </div>