<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaohan.bbs.dao.mapper.PostsMapper" >
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
  <resultMap id="BaseResultMap" type="com.yaohan.bbs.dao.entity.Posts" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="label_id" property="labelId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="experience" property="experience" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="read_count" property="readCount" jdbcType="INTEGER" />
    <result column="top" property="top" jdbcType="BIT" />
    <result column="essence" property="essence" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="score" property="score" jdbcType="TINYINT" />
    <result column="approver" property="approver" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yaohan.bbs.dao.entity.Posts" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, label_id, title, experience, user_id, publish_time, read_count, top, essence, 
    status, score, approver, del_flag
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from posts
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKeyWithoutBLOBS" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from posts
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from posts
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yaohan.bbs.dao.entity.Posts" >
    insert into posts (id, label_id, title, 
      experience, user_id, publish_time, 
      read_count, top, essence, status, 
      score, approver, del_flag, 
      content)
    values (#{id,jdbcType=VARCHAR}, #{labelId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{experience,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{readCount,jdbcType=INTEGER}, #{top,jdbcType=BIT}, #{essence,jdbcType=BIT}, #{status,jdbcType=TINYINT}, 
      #{score,jdbcType=TINYINT}, #{approver,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yaohan.bbs.dao.entity.Posts" >
    insert into posts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="labelId != null" >
        label_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="experience != null" >
        experience,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="readCount != null" >
        read_count,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="essence != null" >
        essence,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="approver != null" >
        approver,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        #{experience,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readCount != null" >
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        #{top,jdbcType=BIT},
      </if>
      <if test="essence != null" >
        #{essence,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=TINYINT},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaohan.bbs.dao.entity.Posts" >
    update posts
    <set >
      <if test="labelId != null" >
        label_id = #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        experience = #{experience,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readCount != null" >
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=BIT},
      </if>
      <if test="essence != null" >
        essence = #{essence,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=TINYINT},
      </if>
      <if test="approver != null" >
        approver = #{approver,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yaohan.bbs.dao.entity.Posts" >
    update posts
    set label_id = #{labelId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      experience = #{experience,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      read_count = #{readCount,jdbcType=INTEGER},
      top = #{top,jdbcType=BIT},
      essence = #{essence,jdbcType=BIT},
      status = #{status,jdbcType=TINYINT},
      score = #{score,jdbcType=TINYINT},
      approver = #{approver,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaohan.bbs.dao.entity.Posts" >
    update posts
    set label_id = #{labelId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      experience = #{experience,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      read_count = #{readCount,jdbcType=INTEGER},
      top = #{top,jdbcType=BIT},
      essence = #{essence,jdbcType=BIT},
      status = #{status,jdbcType=TINYINT},
      score = #{score,jdbcType=TINYINT},
      approver = #{approver,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findAllPubishPosts" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from posts
    where status = 4 order by publish_time desc
  </select>

  <select id="findAllPubishPostsBy" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from posts
    where status = 4
    <if test="labelId != null" >
      and label_id = #{labelId,jdbcType=VARCHAR}
    </if>
    <if test="title != null" >
      and title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="experience != null" >
      and experience = #{experience,jdbcType=INTEGER}
    </if>
    <if test="userId != null" >
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="publishTime != null" >
      and publish_time = #{publishTime,jdbcType=TIMESTAMP}
    </if>
    <if test="readCount != null" >
      and read_count = #{readCount,jdbcType=INTEGER}
    </if>
    <if test="top != null" >
      and top = #{top,jdbcType=BIT}
    </if>
    <if test="essence != null" >
      and essence = #{essence,jdbcType=BIT}
    </if>
    <if test="score != null" >
      and score = #{score,jdbcType=TINYINT}
    </if>
    <if test="approver != null" >
      and approver = #{approver,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null" >
      and del_flag = #{delFlag,jdbcType=CHAR}
    </if>
    <if test="content != null" >
      and content = #{content,jdbcType=LONGVARCHAR}
    </if>
    order by publish_time desc
  </select>

  <select id="topPublishPostsByNum" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from posts
    where top = 1 and status = 4 order by publish_time desc
    limit #{num,jdbcType=INTEGER}
  </select>

  <select id="findPostsBy" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from posts
    <where>
      <if test="status != null" >
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="labelId != null" >
        and label_id = #{labelId,jdbcType=VARCHAR}
      </if>
      <if test="title != null" >
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="experience != null" >
        and experience = #{experience,jdbcType=INTEGER}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="publishTime != null" >
        and publish_time = #{publishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="readCount != null" >
        and read_count = #{readCount,jdbcType=INTEGER}
      </if>
      <if test="top != null" >
        and top = #{top,jdbcType=BIT}
      </if>
      <if test="essence != null" >
        and essence = #{essence,jdbcType=BIT}
      </if>
      <if test="score != null" >
        and score = #{score,jdbcType=TINYINT}
      </if>
      <if test="approver != null" >
        and approver = #{approver,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null" >
        and del_flag = #{delFlag,jdbcType=CHAR}
      </if>
      <if test="content != null" >
        and content = #{content,jdbcType=LONGVARCHAR}
      </if>
    </where>
    order by publish_time desc
  </select>

  <select id="findAllPubishPostsBySortReplys" resultMap="BaseResultMap" parameterType="java.util.Map">
      select
      <include refid="Base_Column_List"/>
      from posts
      where status = 4
      <if test="labelId != null">
        and label_id = #{labelId,jdbcType=VARCHAR}
      </if>
      <if test="title != null">
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="experience != null">
        and experience = #{experience,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="publishTime != null">
        and publish_time = #{publishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="readCount != null">
        and read_count = #{readCount,jdbcType=INTEGER}
      </if>
      <if test="top != null">
        and top = #{top,jdbcType=BIT}
      </if>
      <if test="essence != null">
        and essence = #{essence,jdbcType=BIT}
      </if>
      <if test="score != null">
        and score = #{score,jdbcType=TINYINT}
      </if>
      <if test="approver != null">
        and approver = #{approver,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null">
        and del_flag = #{delFlag,jdbcType=CHAR}
      </if>
      <if test="content != null">
        and content = #{content,jdbcType=LONGVARCHAR}
      </if>
      order by read_count desc,publish_time desc
  </select>

  <update id="addExperience" parameterType="java.lang.String" >
    update posts
    set
      experience = experience+1
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="subExperience" parameterType="java.lang.String" >
    update posts
    set
      experience = experience-1
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>